body.home {
  &.stick.non-transparent {
    ul#menu-main-menu {
      li.menu-item-has-children:hover {
        li {
          background: #333;
        }
      }
    }

    div#content {
      div#about {
        h2.about-title {
          margin-bottom: 0;
          visibility: hidden;
        }
      }

      div#blog {
        div.blog-img {
          img {
            width: 100%;
          }
        }
      }

      div#partners {
        div.portfolio-hover {
          display: none;
        }
      }

      div#team {
        .team-content {
          a, a:hover, a:focus, a:active {
            color: #fff;
          }
        }
      }

      div#contact {
        button {
          color: #fff !important;
          background: #302b2b !important;

          &:hover {
            background: #ff6602 !important;
          }
        }
      }
    }
  }
}