body.stick.non-transparent {
  header#masthead {
    div#home {
      img.caption-logo {
        margin-top: -30px;
        width: 40%;

        @media (min-width: 1024px) {
          margin-top: 10px;
        }

        @media (min-width: 1600px) {
          width: 50%;
        }
      }
    }
  }
}