/*
Theme Name: BainBlois Theme
Description: BainBlois theme - child theme of Himalayas
Author: Faisal Kabir
Template: himalayas
Version: 1.0
*/
body.home.stick.non-transparent ul#menu-main-menu li.menu-item-has-children:hover li {
  background: #333;
}
body.home.stick.non-transparent div#content div#about h2.about-title {
  margin-bottom: 0;
  visibility: hidden;
}
body.home.stick.non-transparent div#content div#blog div.blog-img img {
  width: 100%;
}
body.home.stick.non-transparent div#content div#partners div.portfolio-hover {
  display: none;
}
body.home.stick.non-transparent div#content div#team .team-img-wrapper {
  transform: translateY(-50%);
}
body.home.stick.non-transparent div#content div#team .team-desc-wrapper {
  transform: translateY(-101%);
  opacity: 1;
  visibility: visible;
}
body.home.stick.non-transparent div#content div#team .team-content a, body.home.stick.non-transparent div#content div#team .team-content a:hover, body.home.stick.non-transparent div#content div#team .team-content a:focus, body.home.stick.non-transparent div#content div#team .team-content a:active {
  color: #fff;
}
body.home.stick.non-transparent div#content div#contact button {
  color: #fff !important;
  background: #302b2b !important;
}
body.home.stick.non-transparent div#content div#contact button:hover {
  background: #ff6602 !important;
}

body.stick.non-transparent header#masthead div#home img.caption-logo {
  margin-top: -30px;
  width: 40%;
}
@media (min-width: 1024px) {
  body.stick.non-transparent header#masthead div#home img.caption-logo {
    margin-top: 10px;
  }
}
@media (min-width: 1600px) {
  body.stick.non-transparent header#masthead div#home img.caption-logo {
    width: 50%;
  }
}

@media (min-width: 769px) and (max-width: 907px) {
  body.stick.non-transparent header#masthead .logo {
    display: none;
  }
}

body.page:not(.home).stick.non-transparent div#content {
  margin-top: 70px;
}

body.single.stick.non-transparent div#content {
  margin-top: 70px;
}
body.single.stick.non-transparent div#content ul.default-wp-page {
  display: none;
}
